*{
}
html,
body{
    height: 100%;
}

.imageContainer img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;
    text-align: center;
    margin: 5px;
}
.imageContainer img{
    width: 100%;
    object-fit: contain;
}

#gameInfo{
    height: 33vh;
    text-align: center;
}
.card-header{
    font-weight: bolder;
}
.row col {
    min-width: 150px;
}
.gameOptions{
    margin: 5px;
    background-color: #2b3035;
    border-radius: 10px;
}